{% extends 'products/base.html' %}

{% block title %}
profile
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{%url 'ordertable'%}">Order</a></li>
              <li class="breadcrumb-item"><a href="{% url 'user_address'%}">Address</a></li>
              <li class="breadcrumb-item active" aria-current="page">Offers</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <p class="text-muted mb-1">User Profile</p>
              <p class="text-muted mb-4">{{user.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'logout_user' %}" class="btn btn-dark" style="background-color: #343a40; width: 200px; border-radius: 20px;">Logout</a>
              </div>
              
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
               
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="row mb-3">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form7Example1" value="{{ user.first_name }}" name="fname" class="form-control" placeholder="First Name" />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form7Example1" value="{{ user.last_name }}" name="lname" class="form-control" placeholder="Last Name" />
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" id="form7Example4" value="{{ user.username }}" name="username" class="form-control" placeholder="Username" />
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" id="form7Example4" value="{{ user.email }}" name="email" class="form-control" placeholder="Email" />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>

{% endblock  %}