{% extends 'products/base.html' %}



{% block content %}
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col" >
              <nav aria-label="breadcrumb" style="border-radius: 1rem; max-width: 100%; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item active"><a href="{% url 'test'%}">Wallet </a></li>
                  <li class="breadcrumb-item"><a href="{%url 'ordertable'%}">Order</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'profile_address'%}">Address</a></li>
                 
                  <li class="breadcrumb-item active"><a href="{% url 'profile_view'%}">Profile<a/></li>
              
                </ol>
              </nav>
            </div>
          </div>
  
      <div class="row">
        <div class="col-lg-4">
        
            <div class="card mb-4 shadow-5-strong" style="border-radius: 1rem; max-width: 100%; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);">

            <div class="card-body text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <p class="text-muted mb-1">User Profile</p>
              <p class="text-muted mb-4">{{user.email}}</p>
              
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'logout_user' %}" class="btn btn-dark" style="background-color: #343a40; width: 200px; border-radius: 20px;">Logout</a>
              </div>
              
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
               
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
            <div class="card shadow-5-strong" style="border-radius: 1rem; max-width: 100%; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);">
                <div class="card-body ">
                    <h5 class="card-title">Password Reset</h5>
                    <div class="hr my-4"></div>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>Hello User</strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" id="form2Example17" class="form-control" placeholder="Current Password" name="pass1" style="background-color: #F5F7FA;" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="form2Example17" class="form-control" placeholder="New Password" name="newpass1" style="background-color: #F5F7FA;" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="form2Example17" placeholder="Confirm New Password" class="form-control" name="newpass2" style="background-color: #F5F7FA;" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark" style="background-color: #343a40; width: 200px; border-radius: 20px;">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
        
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>

{% endblock  %}