
{% extends 'products/base.html' %}

{% block title %}
order view
{% endblock  %}


{% block style %}
<style>


</style>
{% endblock  %}



{% block content %}
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
           Order View
        </span>
    </div>
</div>
    

<!-- Shoping Cart -->



 {% load static %}

    <div class="container mt-5 mb-5">

      <div class="row d-flex justify-content-center">
  
          <div class="col-md-10">
  
              <div class="card">
  
  
                      <div class="text-left logo p-2 px-5">
  
                          <img src="{%static 'user/img/logo1.png'%}" width="50">
                          
  
                      </div>
  
                      
                      <div class="invoice p-5">
  
                          <h5>Your order Product</h5>
  
                          
  
                          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                               
                              <table class="table table-borderless">
                                
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="py-2">
  
                                                  <span class="d-block text-muted">Order Date</span>
                                              <span>{{orders.order_date.date}}</span>
                                                  
                                              </div>
                                          </td>
  
                                          <td>
                                              <div class="py-2">
  
                                                  <span class="d-block text-muted">Order No</span>
                                              <span>TKN002023{{orders.id}}</span>
                                                  
                                              </div>
                                          </td>
  
                                          <td>
                                              <div class="py-2">
  
                                                  <span class="d-block text-muted">Payment</span>
                                              <span><img src="https://w7.pngwing.com/pngs/88/578/png-transparent-razorpay-logo-thumbnail-tech-companies-thumbnail.png" width="20" /></span>
                                                  
                                              </div>
                                          </td>
  
                                          <td>
                                              <div class="py-2">
  
                                                  <span class="d-block text-muted">Shiping Address</span>
                                              <span>{{orders.address.address_line_1}}</span>
                                                  
                                              </div>
                                          </td>
                                      </tr>
                                  </tbody>
  
                              </table>
  
  
  
  
                              
                          </div>
  
  
  
  
                              <div class="product border-bottom table-responsive">
  
                                  <table class="table table-borderless">
                                      {%for product in items %}
                                  <tbody>
                                      <tr>
                                          <td width="20%">
                                          
                                          <img src="{{MEDIA_URL}}{{product.product.variant_image.url}}" width="90">
  
                                      </td>
                              
                                      <td width="60%">
                                          <span class="font-weight-bold">{{product.product.title}}</span>
                                          <div class="product-qty">
                                              <span class="d-block">Quantity:{{product.quantity}}</span>
                                              <span>Color:{{product.product.color}}</span>
                                              
                                          </div>
                                      </td>
                                      <td width="20%">
                                          <div class="text-right">
                                              <span class="font-weight-bold">{{product.product.price}}</span>
                                          </div>
                                      </td>
                                      </tr>
                                      {% endfor %}
  
                                
                                  </tbody> 
                                      
                                  </table>
                                  
  
  
                              </div>
  
  
  
                              <div class="row d-flex justify-content-end">
  
                                  <div class="col-md-5">
  
                                      <table class="table table-borderless">
  
                                          <tbody class="totals">
  
                                              <tr>
                                                  <td>
                                                      <div class="text-left">
  
                                                          <span class="text-muted">Subtotal</span>
                                                          
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="text-right">
                                                          <span>${{total_price}}</span>
                                                      </div>
                                                  </td>
                                              </tr>
  
  
                                               <tr>
                                                  <td>
                                                      <div class="text-left">
  
                                                          <span class="text-muted">Shipping Fee</span>
                                                          
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="text-right">
                                                          <span>$00</span>
                                                      </div>
                                                  </td>
                                              </tr>
  
  
                                               <tr>
                                                  <td>
                                                      <div class="text-left">
  
                                                          <span class="text-muted">Tax Fee</span>
                                                          
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="text-right">
                                                          <span>$00</span>
                                                      </div>
                                                  </td>
                                              </tr>
  
  
                                               <tr>
                                                  <td>
                                                      <div class="text-left">
  
                                                          <span class="text-muted">Discount</span>
                                                          
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="text-right">
                                                          <span class="text-success">$00</span>
                                                      </div>
                                                  </td>
                                              </tr>
  
  
                                               <tr class="border-top border-bottom">
                                                  <td>
                                                      <div class="text-left">
  
                                                          <span class="font-weight-bold">Subtotal</span>
                                                          
                                                      </div>
                                                  </td>
                                                  <td>
                                                      <div class="text-right">
                                                          <span class="font-weight-bold">${{orders.total_price}}</span>
                                                      </div>
                                                  </td>
                                              </tr>
                                              
                                          </tbody>
                                          
                                      </table>
                                      
                                  </div>
                                  
  
  
                              </div>
                              <div class="card-body p-5">
                                <div class="card shadow-0 border mb-4" >
                                  <div class="card-body">
                                    <div class="row">
      
                                      <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                            <a href="" style="text-decoration: none;color: inherit;">Cancel The Order
                                           </a> 
                                        </button>
                                      </div>
                                      <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                     
                                      </div>
                                      <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                            <a href="{%url 'cancel_orderss' orders.id %}" style="text-decoration: none;color: inherit;">Cancel The Order
                                           </a> 
                                        </button>
                                      </div>
                                    </div>
                                  
                                  
                                  </div>

                                </div>
                              
                                </div>

                              <p>Welcome to the Ordered Products Page! Here, you can conveniently view and manage your recently ordered products. Stay organized and track your purchases effortlessly.!</p>
                              <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                              <span>TrekNesus Team</span>
  
  
  
                          
  
                      </div>
  
  
                      <div class="d-flex justify-content-between footer p-3">
  
                          <span>Continue Shopping <a href="{% url 'products' %}"> Shop More</a></span>
                           <span>{{orders.order_date.date}}</span>
                          
                      </div>
  
  
  
          
      </div>
              
          </div>
          
      </div>
      
  </div>

{% endblock  %}
