
{% extends 'products/base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


                    <div class="text-left logo p-2 px-5">

                        <img src="{%static 'user/img/logo1.png'%}" width="50">
                        

                    </div>

                    <div class="invoice p-5">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, {{orders.address.first_name }}</span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order Date</span>
                                            <span>{{orders.order_date.date}}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order No</span>
                                            <span>TKN002023{{orders.id}}</span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Payment</span>
                                                {% if orders.payment_method == "RAZORPAY" %}
                                            <span><img src="https://w7.pngwing.com/pngs/88/578/png-transparent-razorpay-logo-thumbnail-tech-companies-thumbnail.png" width="20" /></span>
                                                {% elif orders.payment_method == "WALLET" %}
                                                <span><img src="https://cdn-icons-png.flaticon.com/512/3757/3757881.png" width="20" /></span>

                                                {% else %}
                                                <span><img src="https://cdn-icons-png.flaticon.com/512/2897/2897855.png" width="20" /></span>
                                                {% endif %}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Shiping Address</span>
                                            <span>{{orders.address.address_line_1}}</span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>




                            
                        </div>




                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">
                                    {%for product in items %}
                                <tbody>
                                    <tr>
                                        <td width="20%">
                                        
                                        <img src="{{MEDIA_URL}}{{product.product.variant_image.url}}" width="90">

                                    </td>
                            
                                    <td width="60%">
                                        <span class="font-weight-bold">{{product.product.title}}</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:{{product.quantity}}</span>
                                            <span>Color:{{product.product.color}}</span>
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">{{product.product.price}}</span>
                                        </div>
                                    </td>
                                    </tr>
                                    {% endfor %}

                              
                                </tbody> 
                                    
                                </table>
                                


                            </div>



                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>${{total_price}}</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Shipping Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$00</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Tax Fee</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>$00</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Discount</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="text-success">$00</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">

                                                        <span class="font-weight-bold">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">${{total_price}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                                


                            </div>


                            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                            <span>TrekNesus Team</span>



                        

                    </div>


                    <div class="d-flex justify-content-between footer p-3">

                        <span>Need Help? view orders <a href="{% url 'ordertable' %}"> User Order</a></span>
                         <span>{{orders.order_date.date}}</span>
                        
                    </div>



        
    </div>
            
        </div>
        
    </div>
    
</div>
{% endblock %}