{% extends 'admin/base1.html' %}

{% block title%}
catogery
{% endblock %}

{% block content%}
{% load static %}
<div class="card">
  <div class="card-header">
      <h5>Category Page</h5>
      <span>HEYY  <code>table</code> inside table element</span>
      <div class="card-header-right">
          <ul class="list-unstyled card-option">
              <li><i class="icofont icofont-simple-left "></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
          </ul>
      </div>
  </div>
  <div class="card-block table-border-style">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>No</th></th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for category in cat %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ category.name }}</td>
                      <td><img src="{{ MEDIA_URL }}{{ category.image.url }}" style="width: 120px; height: 100px;" alt=""></td>
                      <td>
                          <a class="btn btn-dark" href="{% url 'catogery_delete' category.id %}">Delete</a>
                          <a class="btn btn-light" href="{% url 'edit_category' category.id %}">Edit</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <a class="btn btn-dark" href="{% url 'catogery_add' %}">ADD CATEGORY</a>
</div>

{% endblock %}