{% extends 'admin/base1.html' %}

{% block title%}
catogery edit
{% endblock %}

{% block content%}
<div class="card-block">
    <h5 class="sub-title">Category Additions</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" placeholder="Type Category Name" value="{{ category.name }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category Image</label>

            <div class="col-sm-10">
               
                <div id="image-preview">
                    <p>Image Selected</p>
                </div>
                <input type="file" type="file" onchange="previewImages(event)" name="image" class="form-control">
                <img style="width:200px;height:120px;" src="{{ MEDIA_URL }}{{ category.image.url }}" alt="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input class="btn btn-dark" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}

<script>
    function previewImages(event) {
        var previewContainer = document.getElementById('image-preview');
        previewContainer.innerHTML = ''; // Clear previous previews
    
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();
    
            reader.onload = function (e) {
                var image = document.createElement('img');
                image.src = e.target.result;
                image.style.width = '100px';
                image.style.height = '100px';
                image.style.objectFit = 'cover';
    
                previewContainer.appendChild(image);
            };
    
            reader.readAsDataURL(file);
        }
    }
    </script>

{% endblock  %} 