{% extends 'admin/base1.html' %}

{% block title%}
product edit
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Varinat Table</h5>
        <span>HEYY  <code>table</code> inside table element</span>
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Variant Id</th>
                        <th>Title</th>
                        <th>Stock</th>
                        <th>Variations</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
  




   
  {% endblock  %}
  

