{% extends 'admin/base1.html' %}

{% block title%}
variant edit
{% endblock %}

{% block content %}
  
  




<div class="card">
  <div class="card-header">
      <h5>Product Management</h5>
        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>

          <div class="card-header-right">
              <i class="icofont icofont-spinner-alt-5"></i>
          </div>

      </div>
      <div class="card-block">
        <h4 class="sub-title">Varaint Updation</h4>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
       
        
          
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Variant Title</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control " id="variant_title" value="{{variant.title}}" name="variant_title" required placeholder="Variant Title">
              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Variant Size</label>
            <div class="col-sm-10">
              <select id="sizes" name="sizes" required class="form-control">
                {% for size in sizes %}
                  <option value="{{ size.size }}">{{ size.size }}</option>
              {% endfor %}
              </select>
            </div>

        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Variant Color</label>
          <div class="col-sm-10">
            <select id="colors" name="colors" required class="form-control">
              {% for color in colors %}
                <option value="{{ color.id }}">{{ color.color }}</option>
              {% endfor %}
            </select>
            
          </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Price</label>
        <div class="col-sm-10">
            <input class="form-control "value="{{variant.price}}"  type="number" id="price" name="price" required placeholder="Product Price">
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Discount Price</label>
      <div class="col-sm-10">
          <input class="form-control "value="{{variant.discount_price}}"  type="number" id="price" name="discount_price" placeholder="Discount Price">
      </div>
  </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Product Quantity</label>
      <div class="col-sm-10">
          <input type="number" class="form-control "  value="{{variant.quantity}}"  id="quantity" name="quantity" placeholder="Product Quantity">
      </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Product Stock</label>
    <div class="col-sm-10">
        <input class="form-control " type="number" id="stock" value="{{variant.stock}}"  name="stock" required placeholder="Product Stock">
    </div>
</div>
<div class="form-group row">
    <label for="display_image" class="col-sm-2 col-form-label">Display Image</label>
    <div class="col-sm-10">
      <input type="file" id="display_image" value="{{ variant.variant_image.url}}" name="display_image" accept="image/*" >
      {% if variant.variant_image %}
        <img src="{{ variant.variant_image.url }}" alt="Display Image" style="max-width: 100px; margin-top: 5px;">
      {% endif %}
    </div>
  </div>
  
  <div class="form-group row">
    <label for="images" class="col-sm-2 col-form-label">Upload File</label>
    <div class="col-sm-10">
      <input type="file" id="images" name="images" accept="image/*" >
      {% if variant.product_image_set.all %}
        {% for image in variant.product_image_set.all %}
          <img src="{{ image.image.url }}" alt="Product Image" style="max-width: 100px; margin-top: 5px;">
        {% endfor %}
      {% endif %}
    </div>
  </div>
  


<input class="btn btn-dark  mx-5 mx-5" type="submit" value="Save The Change">
  
</div>          
 </form>
   
  {% endblock  %}
  

