
{% extends 'products/base.html' %}
{% block title%}
Shop
{% endblock %}
{% block link  %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/v4-shims.min.js" integrity="sha512-jwXCc38I7s9ikGI6qbqIcktgJDVVppplsNQ5DgW7VbUZCVvdo31qQnpgiU7aDQRa3pETbn9LPnOo97r4Id5/cg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock  %}




{% block content %}

<div class="bg0 m-t-23 p-b-140">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
      
      </div>

      <div class="flex-w flex-c-m m-tb-10">
        
      </div>
      
      <!-- Search product -->
      <div class="dis-none panel-search w-full p-t-10 p-b-15">
       
      </div>

      <!-- Filter -->
      <div class="dis-none panel-filter w-full p-t-10">
        
      </div>
    </div>

    <div class="row isotope-grid">
    
      {% for pros in product  %}
      {% if pros.product %}
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
        <!-- Block2 -->
        
        
        <div class="block2 ">
       
          <div class="block2-pic hov-img0">
            <img src="{{pros.product.variant_image.url}}" alt="IMG-PRODUCT">
              <a href="{% url 'add_to_cart' variant_id=pros.product.id %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-moda1"> 
                ADD TO CART
                </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l ">
              <a href="{{pros.product.get_absolute_url}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
             {{pros.product.title}}
              </a>

              <span class="stext-105 cl3">
                {{pros.product.price}}
              </span>
            </div>
           
            <div class="block2-txt-child2 flex-r p-t-3">
              <a href="{% url 'remove_item' pros.product.id %}" class=" dis-block pos-relative">
               <img src="https://cdn-icons-png.flaticon.com/128/6861/6861362.png" style="width:15px;height:15px;" alt="">
              </a>
            </div>
       
          
         
            
          </div>
        </div>
        
      </div>
      {% endif %}
      {% endfor %}


    </div>
    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a href="/" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
       BACK TO HOMEPAGE
      </a>
    </div>
  </div>
</div>
  


      {% endblock %}