
{% extends 'products/base.html' %}
<!-- descriptions -->
{% block content %}
 <div class="d-flex justify-content-center align-items-center py-5 h-100 mt-5" style="height: 100vh;">
    <div class="border rounded-2xl border-gray-400 p-4" style="border-radius: 24px; max-width: 100%; width: 470px;" >
        <form class="d-flex flex-column align-items-center form" id="signup-form" action="{% url 'forget_password' %}" method="post">
            <!-- head of form box -->
            {% csrf_token %}
            <div class="form-outline mb-4">
                <legend>Forget Password</legend>
                <p>write your username below </p>
            </div>
            <br>
            <br>
            <!-- OTP input -->
            <div class="form-outline mb-4">
                <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="username" name="username" style="background-color:#F5F7FA;">
            </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
            </div>
          
            <!-- Submit button -->
            <button type="submit" style="border-radius: 35px;width:200px;background-color: black;color: bisque;height: 46px;">Submit</button>
        </form>
        
          
      
            <!-- Register buttons -->
            
          </form>
    
    </div>
  </div>
 <!--footer-->
 <!-- Footer -->
{% endblock %}
{% comment %} 


<div class="d-flex justify-content-center align-items-center py-5 h-100" style="height: 100vh;">
    <div class="border rounded-2xl border-gray-400 p-4" style="max-width: 100%; width: 470px; ">
      <form class="d-flex flex-column align-items-center form" id="signup-form" action="{% url 'verifyotp' %}" method="post">
        <!-- head of form box -->
        {% csrf_token %}
        <div class="form-outline mb-4">
            <legend>Forget Password</legend>
            <p>write your username below </p>
        </div>
        <br>
        <br>
        <!-- OTP input -->
        <div class="form-outline mb-4">
            <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="username" name="username" style="background-color:#F5F7FA;">
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
        </div>
      
        <!-- Submit button -->
        <button type="submit" style="border-radius: 35px;width:200px;background-color: black;color: bisque;height: 46px;">Submit</button>
    </form>
    
      
  
        <!-- Register buttons -->
        
      </form>
    </div>
  </div> {% endcomment %}