{% autoescape off %}

Dear {{name}},

We hope this message finds you well. As part of our commitment to ensuring the security of your account, we are pleased to provide you with the OTP (One-Time Password) required for your login process.

Your OTP for login: {{otp}}

Please remember that this unique code is only valid for a single login session and should be used promptly to access your account. Do not share this OTP with anyone, including our support team. We will never ask for it.

Thank you for trusting us with your security. We look forward to serving you further.

Best regards,
TrekNexsus Team

{% endautoescape %}