{% extends 'products/base.html' %}



{% block content %}

<div class="d-flex justify-content-center align-items-center py-5 h-100" style="height: 100vh;">
  <div class="border rounded-2xl border-gray-400 p-4" style="max-width: 100%; width: 470px; ">
    <form class="d-flex flex-column align-items-center form" id="signup-form" action="{% url 'verifyotp' %}" method="post">
      <!-- head of form box -->
      {% csrf_token %}
      <div class="form-outline mb-4">
          <legend>OTP Login</legend>
      </div>
      <br>
      <br>
      <!-- OTP input -->
      <div class="form-outline mb-4">
          <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="OTP" name="fotp" style="background-color:#F5F7FA;">
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
      </div>
    
      <!-- Submit button -->
      <button type="submit" style="border-radius: 35px;width:200px;background-color: black;color: bisque;height: 46px;">Submit</button>
  </form>
  
    

      <!-- Register buttons -->
      
    </form>
  </div>
</div>

{% endblock %}->

 <div class="d-flex justify-content-center align-items-center py-5 h-100" style="height: 100vh;">
    <div class="border rounded-2xl border-gray-400 p-4" style="max-width: 100%; width: 470px; ">
      <form class="d-flex flex-column align-items-center form" id="signup-form" action="{% url 'verifyotp' %}" method="post">
        <!-- head of form box -->
        {% csrf_token %}
        <div class="form-outline mb-4">
            <legend>OTP Login</legend>
        </div>
        <br>
        <br>
        <!-- OTP input -->
        <div class="form-outline mb-4">
            <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="OTP" name="fotp" style="background-color:#F5F7FA;">
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
        </div>
      
        <!-- Submit button -->
        <button type="submit" style="border-radius: 35px;width:200px;background-color: black;color: bisque;height: 46px;">Submit</button>
    </form>
    
      
  
        <!-- Register buttons -->
        
      </form>
    </div>
  </div>
