{% autoescape off %}

Dear {{name}},

We are writing to inform you that your password for TrekNexsus.com has been successfully changed. We wanted to ensure the security of your account, and as a precautionary measure, we recently reset your password.

If you made this change, you can disregard this email. However, if you did not initiate the password change, please contact our support team immediately at joytreknex@gmail.com so we can investigate and assist you accordingly.

For security reasons, we recommend reviewing your account settings and enabling two-factor authentication to provide an extra layer of protection to your account.

If you have any questions or need further assistance, please don't hesitate to reach out. Our support team is always ready to help you.

Thank you for being a valued member of our community!

Best regards,
TrekNexsus


{% endautoescape %}